body {
  background-color:#333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
 h2, h3, p {
  color: #fff;
}
.port-p{ 
    font-size:1.5rem;
    color:#00ffe7;
    text-shadow:0 0 10px #00ffe7;
}
a {
  display: inline-blo
  color: #00ffe7; 
  font-weight: 500;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
  background: transparent;
}
a:hover {
  background: rgba(0, 255, 231, 0.1); 
  color: #22d3ee; 
  text-shadow: 0 0 8px #22d3ee;
}
